<div class="ui middle aligned selection divided list">
    <a *ngFor="let shoppingList of shoppinglists" class="item bs-shopping-list-list-item"
       [shoppingList]="shoppingList" [routerLink]=shoppingList.id></a>
    <div *ngIf="!shoppinglists" class="ui active dimmer">
        <div class="ui large text loader">Daten werden geladen...</div>
    </div>
    <a *ngIf="authService.isLoggedIn()" class="ui tiny yellow labeled icon
button" style="margin-left: 45% !important; font-size: 16px;"
       (click)="getAvailable()">
        <i class="user icon"></i> Get Available!
    </a>
</div>
